{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>Manual Upload</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}

      <form method="post" action="{{url "App.Upload"}}" enctype="multipart/form-data">
        <p>
          <label for="torrent"><strong>Movie:</strong></label>
          <input type="file" name="torrent" id="torrent" class="span6">
          <input type="hidden" name="folder" value="movies">
        </p>
        <hr>
        <input type="submit" value="Upload" class="btn btn-large btn-success">
      </form>

      <form method="post" action="{{url "App.Upload"}}" enctype="multipart/form-data">
        <p>
          <label for="torrent"><strong>TV Show:</strong></label>
          <input type="file" name="torrent" id="torrent" class="span6">
          <input type="hidden" name="folder" value="tv">
        </p>
        <hr>
        <input type="submit" value="Upload" class="btn btn-large btn-success">
      </form>

      <form method="post" action="{{url "App.Upload"}}" enctype="multipart/form-data">
        <p>
          <label for="torrent"><strong>Music:</strong></label>
          <input type="file" name="torrent" id="torrent" class="span6">
          <input type="hidden" name="folder" value="music">
        </p>
        <hr>
        <input type="submit" value="Upload" class="btn btn-large btn-success">
      </form>

      <form method="post" action="{{url "App.Upload"}}" enctype="multipart/form-data">
        <p>
          <label for="torrent"><strong>Misc:</strong></label>
          <input type="file" name="torrent" id="torrent" class="span6">
          <input type="hidden" name="folder" value="misc">
        </p>
        <hr>
        <input type="submit" value="Upload" class="btn btn-large btn-success">
      </form>
    </div>
  </div>
</div>

{{template "footer.html" .}}
